

/********************
* Base style
********************/

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Merriweather:300,400);

body {
    margin: 0;
    font-size: 100%;
    text-rendering: optimizeLegibility;
    font-feature-settings: "kern" 1;
}

ol, ul {
    list-style: none outside none;
}

.hide {
    display: none;
}

/********************
* Header style
********************/

header {
    /*background-color: #20839A;*/
    background-color: #009ABD;
    padding-top: 1.5em;
    padding-bottom: 3em;
}

header a {
    color:white;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    transition: color 0.5s ease-out 0s;
    cursor: pointer;
}

header a:hover {
    color: #124A57;
}

header #logo {
    margin: 0;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}

header #logo a {
    position: relative;
    z-index: 1;
}

header nav {
    display: block;
    margin-top: 1em;
    position: relative;
    text-align: center;
    top: 0;
}

.right, .left {
    display: inline-block;
    position: relative;
    width: auto;
}

.right a, .left a {
    margin: 0 0.8em;
}

.left {
    left: 0;
    text-align: left;
}

.right {
    right: 0;
    text-align: right;
}


/********************
* Footer style
********************/

footer {
    padding-bottom: 3.5em;
    padding-top: 3.5em;
    background-color: #444;
    text-align: center;
}

footer p, footer a {
    font-family: Montserrat, sans-serif;
    color: white;
    text-decoration: none;
}


/********************
* Content
********************/

.container {
    margin: 0 auto;
    padding: 4em 0;
    width:90%;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
}

.container h1 a, h2 a{
    color: #333;
}

.container h1 a:hover, h2 a:hover {
    color: #009ABD;
}

.grey {
    background-color: rgb(240,243,245);
}

.white {
    background-color: white;
}

.container .content {
    line-height: 1.5em;
    font-family: Merriweather, serif;
    text-ren­der­ing: op­ti­mizeLeg­i­bil­i­ty;
    color: rgb(51,51,51);
    margin-top: 1em;
}

.container a {
    color: #009ABD;
    text-decoration: none;
    transition: color 0.5s ease-out 0s;
}

.container a:hover {
    color: #124A57;
}

/********************
* Post header
********************/

.container h1,h2 {
    color: rgb(34,34,34);
    font-family: Monteserrat, sans-serif;
    margin: 0;
}

.container h1 {
    font-size: 2em;
}

.container h2 {
    font-size: 1.3em;
}


.container aside li {
    display: inline;
}

.container aside ul {
    padding:0;
    display: inline;
}

.container .post-categories {
    padding:0;
}


/********************
* Project grid
********************/

#grid {
    width: 95%;
    font-family: Montserrat, sans-serif;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#grid h2 {
    font-size: 36px;
}

.grid-item {
    display: inline-block;
    margin: 15px;
    width: 90%;
    max-width: 380px;
}

.grid-item img {
    width:100%;
    max-width: 380px;
}

.grid-item a:visited {
    color: black;
}

/********************
* About
********************/

.contact-links {
    text-align: center;
    padding:0;
    margin: 0 auto;
}

.contact-links a {
    cursor: pointer;
}

#clipboard-button {
    background-color: #009ABD;
    padding: 10px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset;
    border: solid 2px #20839A;
    font-family: Montserrat, sans-serif;
}

#email-window {
    position: fixed;
    width: 20em;
    height: 5em;
    top: 50%;
    left: 50%;
    margin-left: -10em;
    font-family: Montserrat, sans-serif;
    background-color: white;
    border-radius: 4px;
    border: solid 2px #20839A;
    text-align: center;
    transition: opacity 0.5s ease-in-out;
   -moz-transition: opacity 0.5s ease-in-out;
   -webkit-transition: opacity 0.5s ease-in-out;
}

.email-window-show {
    opacity:1;
}

.email-window-hide {
    pointer-events:none;
    opacity:0;
}

.email-content {
    margin-top: 1.75em;
}

.close-button {
    position: absolute;
    right: 2%;
    top: 3%;
    color: #d2322d;
    cursor: pointer;
}

/********************
* Categories
********************/

.archive-header {
    text-align: center;
    color: #333;
    font-family: Montserrat, sans-serif;
    font-weight: 400;
}

/********************
* Disqus
********************/

#disqus_thread {
    width: 90%;
    margin: 0 auto;
}

/*****************************************************************************
* Media queries
*****************************************************************************/

/********************
* 768px
********************/

@media only screen and (min-width: 768px) {
    /********************
    Base 768px
    ********************/

    .container {
        width:760px;
    }

    #disqus_thread {
        width: 80%;
    }

    body {
        font-size: 150%;
    }

    #email-window {
        width: 25em;
        margin-left: -12.5em;
    }

    #clipboard-button span {
        display:none;
    }

    #clipboard-button:after {
        content: "To Clipboard";
    }

} /* end of 768px media query */

/********************
* 1030px
********************/

@media only screen and (min-width: 1030px) {


    /********************
    Header 1030px
    ********************/

    #grid {
        justify-content: space-between;
        width: 820px;
    }

} /* end of 1030px media query */

/********************
* 1240px
********************/

@media only screen and (min-width: 1240px) {

    header {
        padding-top: 3em;
    }

    header nav {
        top: -3.4em;
    }

    .left {
        text-align: right;
    }

    .left a:last-child {
        margin-right: 12em;
    }

    .right {
        text-align: left;
    }

    .right a:first-child {
        margin-left: 12em;
    }

    .left, .right {
        top:0;
        position: absolute;
        width: 50%;
        display: block;
    }

    #grid {
        width: 1230px;
    }

} /* end of 1240px media query */


/*********************
* RETINA (2x RESOLUTION DEVICES)
*********************/
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {

} /* end of retina media query */
