---
title: Lasse Dissing
---

{% include header.html %}


<div id="wrapper">

    {% for post in site.posts %}

    <article class="{% cycle 'white', 'grey' %}">
        <div class="container">
            <h1>
                <a href="{{ post.url }}">{{ post.title }}</a>
            </h1>
            <aside>
              <ul>
                <li> {{ post.date | date: "%-d %B %Y"}}</li>
                <li> 
                    {% for cat in post.categories %}

                    <a rel="category tag" title="View all posts in {{ cat }}" href="/category/?{{cat}}"> {{ cat }} </a>

                    {% endfor %}
                </li>
              </ul>
            </aside>
            <div class="content">
                 {{ post.excerpt }} 
            </div> <!-- content -->
            <p><a href="{{ post.url }}">Continue reading</a></p>
        </div> <!-- container -->
    </article>

    {% endfor %}

</div> <!-- wrapper -->
{% include footer.html %}
